.mat-button{
  background: cornflowerblue;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
button{
  background-color: #039be5;
  color: white;
  font-weight: bold;
}

